

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
}
body{
  font-family:"Poppins", serif ;
}


section{
  background-color: black;
}
.header{
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom:10px;
  display: flex; 
  justify-content: space-between;
}
.logo h2{
  font-family: "Oswald", serif;
  color: aliceblue;

}
.nav-link{
  color: aliceblue;
  text-decoration: none;
  font-size: 16px;
  font-weight: 200;
}
.nav-link{
  display: flex;
  gap: 20px;
}

.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.tex{
  color: aliceblue;
}
.python{
  color: chartreuse;
  justify-content: right;
}

.hero .content h1{
  color: aliceblue;
  font-size: 80px;
  line-height: 70px;
  margin-bottom: 10%;
}
button{
  background-color: aqua;
  color: aliceblue;
  padding: 10px 40px 10px 40px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 900;
}


.hero .image  img{
  height: 200px;
  width: 200px;
  border-radius: 100%;
}